[Unit]
Description=System Monitor Daemon
After=network.target

[Service]
User=root
ExecStart=/usr/bin/system_utility
Restart=always

[Install]
WantedBy=multi-user.target